* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("book.jpg");
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    text-align: center;
    background-color: beige;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;

}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 12px;
    width: 70%;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#book-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.book {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.book h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

.book p {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
}
.hi{
    margin-bottom: 150px;
}
.back{
    margin-left: 125px;
}